$old-rose: #b98b82;
$tangerine: #ea7474;
$copper-penny: #b76d68;
$oxford-blue: #0a014f;
$melon: #f3b3a6;

$noteColors: #017fba, #ffc914, #e4572e, #9e0031, #5f0f40;

@for $i from 1 through length($noteColors) {
  li:nth-child(#{length($noteColors)}n + #{$i}) {
    color: nth($noteColors, $i);
  }
}

%clearfix {
  &::after,
  &::before {
    content: "";
    display: block;
    clear: both;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Dosis", sans-serif;
}
body {
  background-color: #fff;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  @extend %clearfix;
}
%top-bottom {
  background-color: $old-rose;
  padding: 2em;
  color: $oxford-blue;
}
footer {
  @extend %top-bottom;
  .copyrights {
    margin: 1em;
    p {
      display: inline;
    }
    a {
      color: #d23ca1;
    }
    .questionMark {
      background: #fff;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      margin-left: 0.5em;
    }
    span.visible {
      display: none;
    }
  }
}
header {
  @extend %top-bottom;
  text-align: center;
  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 230%;
  }
  .toDo {
    width: 30%;
    height: 3em;
    margin: 1em auto 0;
    background: #fff;
    box-shadow: 2px 2px 2px $tangerine;
    border-radius: 3em;
    @media only screen and (max-width: 1000px) {
      width: 50%;
    }
    @media only screen and (max-width: 600px) {
      width: 90%;
    }
    p {
      line-height: 3em;
    }
  }
}

.hero {
  width: 25%;
  float: left;
  padding: 1.2em;
  @extend %clearfix;
  img {
    width: 100%;
    &:hover {
      border: 3px solid $tangerine;
      border-radius: 20%;
    }
  }
  &.selected {
    background-color: $oxford-blue;
  }
}
.keybordClass {
  width: 25%;
  height: 26em;
  background-color: $melon;
  float: left;
  padding: 1.2em;
  border: 2px solid $tangerine;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  margin: 30px 0;
  @extend %clearfix;
  &:hover {
    background-color: $oxford-blue;
  }
}

@keyframes pulse {
  0% {
    top: 20%;
  }
  100% {
    top: 33%;
  }
}

.pianoImg {
  display: block;
  width: 100%;
  position: relative;
  top: 33%;
  &:hover {
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: 1;
  }
}
.staff {
  width: 100%;
  height: 11em;
  position: relative;
  ul {
    list-style: none;
    li {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.melodyBox {
  position: absolute;
  width: 10%;
  height: 17%;
  background: $copper-penny;
  margin-top: 2em;
  border: 2px solid $tangerine;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;

  &.beats_0 {
    left: 24%;
  }
  &.beats_1 {
    left: 45%;
  }
  &.beats_2 {
    left: 66%;
  }
  @media only screen and (min-width: 1200px) {
    width: 5%;
    &.beats_0 {
      left: 30%;
    }
    &.beats_1 {
      left: 47.5%;
    }
    &.beats_2 {
      left: 65%;
    }
  }

  button {
    width: 60%;
    height: 30%;
    display: block;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 30%;
  }
  select {
    width: 60%;
    margin: 0.5em auto;
    display: block;
    height: 25%;
    font-size: 1em;
    color: $oxford-blue;
  }
}
@keyframes float {
  0% {
    left: 0;
    top: 0;
    opacity: 0;
  }
  25% {
    left: 25%;
    top: 3em;
    opacity: 1;
  }
  50% {
    left: 50%;
    top: 0;
    opacity: 1;
  }
  75% {
    left: 75%;
    top: 3em;
    opacity: 1;
  }

  100% {
    left: 98%;
    top: 0;
    opacity: 0;
  }
}
.animate {
  font-size: 3em;
  position: relative;
  animation-name: float;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
